  <!DOCTYPE html>
  <html lang="en">

    <head>
      <meta charset="UTF-8">
      <title>Slideshow</title>
      
    </head>
    <body>
      <div id="slideshow" data-component="slideshow">
        <div role="list">
          <div class="slideContainer">
            <div class="slide background-image" style="background-image: url('/assets/images/slide1.jpg');">
              <img src="/assets/images/slide1.jpg" style="opacity: 0;" alt="">
            </div>
          </div>
          <div class="slideContainer">
            <div class="slide background-image" style="background-image: url('/assets/images/slide2.jpg');">
              <img src="/assets/images/slide2.jpg"  style="opacity: 0;" alt="">
            </div>
          </div>
          <div class="slideContainer">
            <div class="slide background-image"  style="background-image: url('/assets/images/slide3.jpg');">
              <img src="/assets/images/slide3.jpg"  style="opacity: 0;" alt="">
              </div>
          </div>
        </div>
      </div>
    </body>
    
    <style>
      [data-component="slideshow"] .slide {
        display: none;
      }
    
      [data-component="slideshow"] .slide.active {
        display: block;
      }

      .slideContainer {
        min-width: 100vw;
        max-height:85vh;
      }

      .background-image {
        background-position: center center;
        background-size: cover;
        width: 100vw;
        height: 85vh;
      }
    </style>
    
    <script>
      var slideshows = document.querySelectorAll('[data-component="slideshow"]');
    slideshows.forEach(initSlideShow);
    
    function initSlideShow(slideshow) {
    
      var slides = document.querySelectorAll(`#${slideshow.id} [role="list"] .slide`);
    
      var index = 0, time = 5000;
      slides[index].classList.add('active');
    
      setInterval( () => {
        slides[index].classList.remove('active');
        
        index++;
        if (index === slides.length) index = 0;
    
        slides[index].classList.add('active');
    
      }, time);
    }
    </script>