---
layout: default
---

<html>
<title>Infiniti Engineering Academy</title>
<head><script src="https://kit.fontawesome.com/4600248190.js" crossorigin="anonymous"></script><link rel="shortcut icon" href="/_includes/favicon.svg" /></head>


<div class="banner">
    <img src="/assets/images/infinitiBanner1.png" style="width: 100vw;">
</div>

<div class="videoContainer">
    <video autoplay muted replay controls>
        <source src="/assets/videos/infEA2018US.mp4" type="video/mp4">
    </video>
</div>

<style>
    .banner {
        position: absolute;
        z-index: 1;
        left:0px;
        top:120px;
    }

    .videoContainer {
        position: fixed;
        left: 0px;
        top: 475px;
        width: 1000px;
    }

    .textContainer {
        position: relative;
        z-index: 2;
        left:10px;
        top: 500px;
        height: 100%;
    }
</style>

<div class="textContainer">
    test test test test test test test test test test test test test test test test test test test test test test test test <br>
    test test test test test test test test test test test test test test test test test test test test test test test test <br>
    test test test test test test test test test test test test test test test test test test test test test test test test <br>
    test test test test test test test test test test test test test test test test test test test test test test test test <br>
    test test test test test test test test test test test test test test test test test test test test test test test test <br>
    test test test test test test test test test test test test test test test test test test test test test test test test <br>
    test test test test test test test test test test test test test test test test test test test test test test test test <br>
    test test test test test test test test test test test test test test test test test test test test test test test test <br>
    test test test test test test test test test test test test test test test test test test test test test test test test <br>
    test test test test test test test test test test test test test test test test test test test test test test test test <br>
    test test test test test test test test test test test test test test test test test test test test test test test test <br>
    test test test test test test test test test test test test test test test test test test test test test test test test <br>
    test test test test test test test test test test test test test test test test test test test test test test test test <br>
    test test test test test test test test test test test test test test test test test test test test test test test test <br>
    test test test test test test test test test test test test test test test test test test test test test test test test <br>
    test test test test test test test test test test test test test test test test test test test test test test test test <br>
    test test test test test test test test test test test test test test test test test test test test test test test test <br>
    test test test test test test test test test test test test test test test test test test test test test test test test <br>
    test test test test test test test test test test test test test test test test test test test test test test test test <br>
    test test test test test test test test test test test test test test test test test test test test test test test test <br>
    test test test test test test test test test test test test test test test test test test test test test test test test <br>
    test test test test test test test test test test test test test test test test test test test test test test test test <br>
    test test test test test test test test test test test test test test test test test test test test test test test test <br>
    test test test test test test test test test test test test test test test test test test test test test test test test <br>
    test test test test test test test test test test test test test test test test test test test test test test test test <br>
    test test test test test test test test test test test test test test test test test test test test test test test test <br>
    test test test test test test test test test test test test test test test test test test test test test test test test <br>
    test test test test test test test test test test test test test test test test test test test test test test test test <br>
    test test test test test test test test test test test test test test test test test test test test test test test test <br>
    test test test test test test test test test test test test test test test test test test test test test test test test <br>
    test test test test test test test test test test test test test test test test test test test test test test test test <br>
    test test test test test test test test test test test test test test test test test test test test test test test test <br>
    test test test test test test test test test test test test test test test test test test test test test test test test <br>
    test test test test test test test test test test test test test test test test test test test test test test test test <br>
    test test test test test test test test test test test test test test test test test test test test test test test test <br>
    test test test test test test test test test test test test test test test test test test test test test test test test <br>
    test test test test test test test test test test test test test test test test test test test test test test test test <br>
    test test test test test test test test test test test test test test test test test test test test test test test test <br>
    test test test test test test test test test test test test test test test test test test test test test test test test <br>
    test test test test test test test test test test test test test test test test test test test test test test test test <br>
    test test test test test test test test test test test test test test test test test test test test test test test test <br>
    test test test test test test test test test test test test test test test test test test test test test test test test <br>
    test test test test test test test test test test test test test test test test test test test test test test test test <br>
    test test test test test test test test test test test test test test test test test test test test test test test test <br>
    test test test test test test test test test test test test test test test test test test test test test test test test <br>
    test test test test test test test test test test test test test test test test test test test test test test test test <br>
    test test test test test test test test test test test test test test test test test test test test test test test test <br>
    test test test test test test test test test test test test test test test test test test test test test test test test <br>
    test test test test test test test test test test test test test test test test test test test test test test test test <br>
    test test test test test test test test test test test test test test test test test test test test test test test test <br>
    test test test test test test test test test test test test test test test test test test test test test test test test <br>
    test test test test test test test test test test test test test test test test test test test test test test test test <br>
    test test test test test test test test test test test test test test test test test test test test test test test test <br>
    test test test test test test test test test test test test test test test test test test test test test test test test <br>
    test test test test test test test test test test test test test test test test test test test test test test test test <br>
</div>
</html>