---
layout: default
---
<title>Keyboard</title>

<div class="banner">
    <div class="background-image" style="background-image: url('/assets/images/slide1.jpg');">
      <img src="/assets/images/slide1.jpg" style="opacity: 0;" alt="">
    </div>
  </div>

  <style>
    .banner {
        position: absolute;
        z-index: 100;
        left:0px;
        top:10vh;
    }

    .background-image {
        background-position: center center;
        background-size: cover;
        width: 100vw;
        height: 25vh;
    }

  </style>