---
layout: default
---
<title>Suburban</title>

<div class="bannerContainer">
    <div class="bannerImage" style="background-image: url('/assets/images/slide1.jpg');">
      <img src="/assets/images/slide1.jpg" style="opacity: 0;" alt="">
    </div>
  </div>

  <!--//////////////////////////////////////////////image container/////////////////////////////////////////////////////////////////////////////////////////-->
<div class="imageContainer">
  <div class="imageBody">
    <img src="/assets/images/slide1.jpg">
  </div>
</div>


  <!--//////////////////////////////////////////////text container/////////////////////////////////////////////////////////////////////////////////////////-->
  <div class="textContainer">
    <h2>Text Text Text</h2>
    Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text
    Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text 
    Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text 
    Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text
    Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text 
    Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text 
    Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text
    Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text 
    Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text 
  </div>

  <style>
    .bannerContainer {
        position: absolute;
        z-index: 100;
        left:0px;
        top:10vh;
    }

    .bannerImage {
        background-position: center center;
        background-size: cover;
        width: 100vw;
        height: 25vh;
    }

    .imageContainer {
        position: relative;
        z-index: 0;
        left:5vw;
        top:30vh;
    }

    .imageBody {
        background-position: center center;
        background-size: cover;
        width: 40vw;
        height: 40vh;
    }

    .textContainer {
        position: absolute;
        text-align: center;
        z-index: 100;
        right:10vw;
        top: 40vh;
        width: 35vw;
    }

  </style>