.legoContainer {
    background-color: #E9E9E9     !important;
    overflow: hidden                !important;
    text-align: center              !important;
    height: 100%                    !important;
    width: 100%                     !important;
    margin: 0                       !important;
    padding: 0                      !important;
    z-index:5000                    !important;
}

#legoLoaderWindow {
    width: 100%                     !important;
    height: 100%                    !important;
}